@font-face {
    font-family: 'RobotoThin';
    src: url('roboto-thin.eot');
    src: url('roboto-thin.eot') format('embedded-opentype'),
         url('roboto-thin.woff') format('woff'),
         url('roboto-thin.ttf') format('truetype'),
         url('roboto-thin.svg#RobotoThin') format('svg');
}
