@font-face {
    font-family: 'RobotoMediumItalic';
    src: url('roboto-mediumitalic.eot');
    src: url('roboto-mediumitalic.eot') format('embedded-opentype'),
         url('roboto-mediumitalic.woff') format('woff'),
         url('roboto-mediumitalic.ttf') format('truetype'),
         url('roboto-mediumitalic.svg#RobotoMediumItalic') format('svg');
}
