@font-face {
    font-family: 'RobotoItalic';
    src: url('roboto-italic.eot');
    src: url('roboto-italic.eot') format('embedded-opentype'),
         url('roboto-italic.woff') format('woff'),
         url('roboto-italic.ttf') format('truetype'),
         url('roboto-italic.svg#RobotoItalic') format('svg');
}
